configuration/mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"> 
	<xsd:complexType name="commandMapping">
    	<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="handler" type="handlerType"/>
    	</xsd:sequence>
  	</xsd:complexType>
  	<xsd:complexType name="handlerType">

  		<xsd:attribute name="ID" type="xsd:integer" use="required"/>
  		<xsd:attribute name="name" type="xsd:string" use="required"/>
  	</xsd:complexType>
    <xsd:element name="commandMapping" type="commandMapping"/>
</xsd:schema>
